DB_HOST="postgres"
DB_USER=""
DB_PASS=""
DATABASE_URL=""
ACCESS_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRES_IN=""
REFRESH_TOKEN_SECRET=""
REFRESH_TOKEN_EXPIRES_IN=""
REDIS_URL="redis://job-finder-redis:6379"
QUEUE_CONCURRENCY=5